footer {
    background-color: var(--main-color);
    padding: 1rem 0.5rem;
    margin-top: 200px;
}

ul {
    list-style: none;
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 0;
}

ul li a {
    font-size: larger;
    margin: 5px;
    color: var(--ternary-text);
    text-decoration: none;
    display: block;
}

/* Social Media Icons */
footer div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem;
    gap: 0.5rem;
}
footer div img {
    width: 35px;
    height: 35px;
    display: block;
}

footer h5{
    margin-bottom: 1rem;
    color: var(--ternary-text);
    text-align: center;
    font-size: larger;

}
footer p{
    font-size: large;
    margin-bottom: 0;
    color: var(--ternary-text);
    text-align: center;
    font-weight: 600;

}
