.container{
    margin-top: 100px;
    padding: 30px;
}
.container h2{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: x-large;
}
.container hr{
    width: 100px;
    color: var(--main-color);
}
/*.cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}*/
.card{
    width: 300px;
    height: 550px;
}
.card .img{
    position: relative;
    width: 293px;
    height: 368px;
    margin-bottom: 30px;
}
.card svg{
    color: var(--secondary-text);
    position: absolute;
    top: 5%;
    right: 5%;
}
.card .txt{
    display: flex;
    justify-content: space-around;
    font-size: larger;
}
.card .txt .disc p{
    color: var(--secondary-text);
    margin: 0px;
}
.card .txt .price{
    color: var(--main-color);
}
.card .txt .price p{
    margin: 0px;
    padding: 0px;
}

