.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.container .childs {
  /* width: 600px; */
  /* height: auto; */
  background-color:#D6F7FE;
  display: flex;
  align-items: center;
}
.container .childs .img {
  /* width: 312px;
  height: 317px; */
  width: 50%;
  align-self: flex-end;
}
.txt h1,
.txt h3,
.txt h4 {
  margin: 0px;
}
.txt h1{
  font-size: x-large;
}
.txt h3{
  font-size: larger;
}
.txt h4{
  font-size: large;
}
