.list-up {
  animation: list-down 0.3s alternate-reverse;
}
.list-down {
  animation: list-up 0.3s alternate-reverse;
}
@keyframes list-down {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@keyframes list-up {
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}
