.productDiv {
  width: 80%;
  position: relative;
  top: 400px;
  right: 10%;
  direction: flex;
  justify-content: space-between;
  direction: ltr;
}

.proImg {
  width: 47%;
  position: relative;
  bottom: 580px;
  left: 640px;
  display: grid;
  grid-template-rows: 550px 100px;
  justify-content: space-between;
  align-items: end;
}

.mainImg {
  width: 100%;
  height: 550px;
  position: relative;
  top: 0;
  right: 0;
  border: 1px solid #0000004d;
}

.Img2 {
  height: 90px;
  position: relative;
  top: 30px;
  background-position: center;
  background-size: 105%;
  cursor: pointer;
  border: 1px solid #0000004d;
}

.aboutPro {
  width: 47%;
  height: 610px;
  position: relative;
  left: 0%;
}

.proName {
  font-family: "Tajawal", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.Price {
  color: #000000;
  display: inline-block;
  font-family: "Tajawal", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
  font-size: 20px;
  position: relative;
  top: 15px;
}

.star {
  display: flex;
  position: relative;
  right: 5px;
  top:40px;
}

.fa-star {
  color: #ffc107;
  position: relative;
  bottom: 20px;
  left: 5px;
  cursor: pointer;
}

.aboutProduct {
  width:95%;
  color: #000000;
  position: relative;
  top: 50px;
  font-weight:500 !important;
  font-size: 25px;
}

.colors {
  display: flex;
  gap: 5px;
}

.colorImg {
  width: 35px;
  height: 35px;
  border: 1px solid #0000004d;
  border-radius: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.colorProduct,
.colors,
.weightProduct,
.weights {
  position: relative;
  top: 60px;
  margin-bottom: 20px;
  font-weight: 600 !important;
}

.weights {
  display: flex;
  gap: 10px;
}

.weight1 {
  width: fit-content;
  height: fit-content;
  padding: 6px 10px;
  border: 1px solid #00000060;
  border-radius: 1vh;
  text-decoration-line: none;
  color: black;
  font-weight: 500 !important;
}

.weight1:hover {
  background-color: gray;
}

.Counter {
  width: fit-content;
  display: flex;
  border: 1px solid #00000060;
  border-radius: 3vh;
  overflow: hidden;
  gap: 5px;
  position: relative;
  top: 65px;
}

.addCart {
  width: fit-content;
  padding: 1.5% 4%;
  height: fit-content;
  background-color: rgba(127, 211, 223, 1);
  color: white;
  border-radius: 1vh;
  font-weight: 500 !important;
  cursor: pointer;
  position: relative;
  top: 32px;
  right: 110px;
  user-select: none;
}

.favHeart {
  color: #00000060;
  margin-left: 10px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.addFav {
  font-weight: 500 !important;
  font-size: 20px;
  position: relative;
  top: 45px;
}

.buyNow {
  width: 100%;
  padding: 2% 0;
  background-color: rgba(127, 211, 223, 1);
  color: white;
  border-radius: 1vh;
  text-align: center;
  font-weight: 500 !important;
  cursor: pointer;
  position: relative;
  top: 60px;
  user-select: none;
}

.socialMedia {
  width: 100%;
  height: 100px;
  position: relative;
  top: 80px;
}