.container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.container .childs{
    width: 600px;
    height: auto;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}
.container .childs .img{
    width: 312px;
    height: 317px;
}
h1,h3,h4{
    margin: 0px;
}

