:root {
  --main-color: #7FD3DF;
  --primary-text: black;
  --secondary-text: rgb(108, 105, 105);
  --ternary-text: white;
  direction: rtl;
}
.App {
  min-height: 100vh;
}
.text-main {
  color: var(--main-color) !important;
}
.text-footer {
  color: var(--footer-background) !important;
}
.text-black-70 {
  color: rgba(0, 0, 0, 0.7) !important;
}
.active-border {
  border: 2px solid;
  transform: translateY(-5px);
}
.bg-footer {
  background-color: var(--footer-background) !important;
}
.text-hover-main:hover {
  color: var(--main-color) !important;
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-counter {
  background-color: var(--counter-background);
}
.border-color-main {
  border-color: var(--main-color) !important;
}
.outline-none {
  outline: none;
}
.flex-basis-33 {
  flex-basis: calc(100% / 3);
}
.cursor-default {
  cursor: default !important;
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}
.transition-main {
  transition: var(--main-transition) !important;
}
.input:focus {
  border-color: var(--main-color) !important;
}
.bg-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.opacity-70 {
  opacity: 0.7 !important;
}
.w-fit-content {
  width: fit-content;
}
.z-modal {
  z-index: 1000;
}
.z-modal-dialog {
  z-index: 1001;
}
.border-hover:hover {
  border-color: #dee2e6 !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="range"]::-webkit-slider-thumb {
  background: var(--main-color);
}
